<?xml version="1.0" encoding="UTF-8"?>
<root>
    <params>
        <!-- 
        URLs:
        baseUrl: não é necessário incluir a barra (/) antes e depois.
        No exemplo a seguir todos os formatos são válidos: 
            app/site
            /app/site/
            /app/site
            app/site/
            
        Caso nenhum valor seja definido, public_html será adotado como valor padrão.
        -->
        <param id='baseUrl'>mvc</param>        
        <param id='baseUrlHttp'>localhost</param>
        <param id='baseUrlHttps'></param>
        
        <!-- Módulos -->
        <param id='modules'>site,app,beemos</param>
        <param id='defaultModule'>site</param> 
        <param id='magicModules'>app_:aluno,professor,escola;dev_:ambiente1,ambiente2</param>
        
        <param id='defaultTemplate'>padrao.html</param>
        
        <!-- Idiomas do sistema -->
        <param id='languages'>br,en,es</param>
        <param id='defaultLang'>br</param> 
        
        <!-- Preferências -->
        <param id='folder_common'>common</param> <!-- guarda conteúdo compartilhado em toda a aplicação --> 
        <param id='html_extension'>html</param>    
        <param id='view_template_default'>padrao</param> <!-- Arquivo HTML salvo na pasta commons/views_tpl-->      
    </params>        
</root>
