<?xml version="1.0" encoding="UTF-8"?>
<root>
    <params>
        <!-- Módulos -->
        <param id='modules'>site,app,beemos</param>
        <param id='defaultModule'>site</param> 
        <param id='magicModules'>app_:aluno,professor,escola;dev_:ambiente1,ambiente2</param>
        
        <param id='defaultTemplate'>padrao.html</param>
        
        <!-- Idiomas do sistema -->
        <param id='languages'>br,en,es</param>
        <param id='defaultLang'>br</param> 
        
        <!-- Preferências -->
        <param id='commonFolder'>common</param> <!-- guarda conteúdo compartilhado em toda a aplicação --> 
        <param id='htmlExtension'>html</param>    
        <param id='viewTemplateDefault'>padrao</param> <!-- Arquivo HTML salvo na pasta commons/views_tpl-->      
    </params>        
</root>
